<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Price</title>
</head>
<body>
    <h1>Edit Price of Shoe</h1>
    <form action="/" method="POST">

         <img src="<%=shoes.img%>">
      
      
         Cost: <input type="number" name="cost" value="<%=shoes.cost%>">
      
         <input type="submit" value="EDIT">  
   
        </form> 
   
        <a href="/">Back To Closet</a> 
</body>
</html>